<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/js/manifest.json") %>">
    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>">
    <link rel="icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>" />
    <meta name="description" content="Online Experiment System for Economic Education.">
    <meta name="author" content="Ryohei Hayashi">
    <meta name="google" value="notranslate">
    <title>XEE.JP</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  </head>

  <body>
    <div id="root"><div id="loading"><div id="loadingText"><div id="loadingImage"></div><div>Loading . . .</div></div></div></div>
    <script>
      window.playerToken = "<%= assigns[:player_token] %>";
      window.accountToken = "<%= assigns[:account_token] %>";
      window.username = "<%= assigns[:username] %>";
    </script>
    <script crossorigin type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
    <main role="main" class="container">
      <%= @inner_content %>
    </main>
</html>